<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
    <div class="mw8 center ph3">
        <div class="flex-l flex-wrap justify-between mw8 center ph3">
            {{ partial "sitemap-list.html" . }}
            {{ partial "last-courses-list.html" . }}
            {{ partial "social-list.html" . }}
        </div>
        <div class="flex-l flex-wrap justify-between mw8 center ph3">
            <a class="f4 fw4 hover-white no-underline white-70" href="{{ .Site.Home.Permalink }}" >
                &copy; Copyrights {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
            </a>
        </div>
    </div>
</footer>
